.linear-rate{
  &__item{
   & + &{
     margin-top: 15px;
   }
  }
  &__line{
    position: relative;
    background-color: $athens-gray;
    height: 5px;
    border-radius: 12px;
    width: 100%;
    div{
      background-color: $pale-sky;
      position: absolute;
      inset: 0;
      border-radius: 0 12px 12px 0;
    }
  }

  &__value{

  }
}