@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSansFaNum.eot") format("eot"),
    url("../fonts/IRANSansFaNum.woff") format("woff"),
    url("../fonts/IRANSansFaNum.woff2") format("woff2"),
    url("../fonts/IRANSansFaNum.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
