$oxford-blue: #374151;
$athens-gray: #ecedee;
$oslo-gray: #808692;
$mischka: #a1a8b3;
$gray-chateau: #89909b;
$dodger-blue: #3b82f6;
$mountain-meadow: #10b981;
$carnation: #f43f5e;
$carnation-100: #ffe9e1;
$buttercup: #f59e0b;
$pattens-blue: #dbeafe;
$pippin: #ffe4e6;
$catskill-white: #f3f5f9;
$ebony-clay: #1f2937;
$river-bed: #495260;
$ghost: #c9ced4;
$mako: #3f4551;
$cornflower-blue: #5f99f8;
$we-peep: #fbedee;
$Iron: #e0e0e2;
$pale-sky: #6d7482;
$papaya-whip: #ffedd5;
$shuttle-gray: #5e6773;

$custom-colors: (
  "oxford-blue": $oxford-blue,
  "athens-gray": $athens-gray,
  "oslo-gray": $oslo-gray,
  "mischka": $mischka,
  "gray-chateau": $gray-chateau,
  "dodger-blue": $dodger-blue,
  "mountain-meadow": $mountain-meadow,
  "carnation": $carnation,
  "buttercup": $buttercup,
  "pattens-blue": $pattens-blue,
  "pippin": $pippin,
  "catskill-white": $catskill-white,
  "river-bed": $ebony-clay,
  "ebony-clay": $river-bed,
  "ghost": $ghost,
  "mako": $mako,
  "cornflower-blue": $cornflower-blue,
  "we-peep": #fbedee,
  "Iron": #e0e0e2,
  "pale-sky": #6d7482,
);

$custom-value: (
  "10": 10px,
  "11": 11px,
  "12": 12px,
  "13": 13px,
  "14": 14px,
  "15": 15px,
  "16": 16px,
  "17": 17px,
  "18": 18px,
  "19": 19px,
  "20": 20px,
);
$opacity: (
  "0": 0,
  "10": 0.1,
  "20": 0.2,
  "30": 0.3,
  "40": 0.4,
  "50": 0.5,
  "60": 0.6,
  "70": 0.7,
  "80": 0.8,
  "90": 0.9,
  "100": 1,
);
